@use '../elements/burger';

.header{
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	display: flex;
	background-color: rgba(29,37,40, 0.6);
	&--fixed{position: fixed;}
	.title-page{
		margin: auto;
		font-size: 3em;
	}
}